<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en_GB"/>
    <title>Coronavirus Tracker</title>
</head>
<body>
    <h1>Coronavirus Tracker</h1>



    <table>
        <tr>
            <th>State</th>
            <th>Country</th>
            <th>Total cases reported</th>
        </tr>
        <tr th:each="locationStat : ${locationStats}">
            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.latestTotalCases}">0</td>
        </tr>
    </table>


</body>
</html>